.score-viewer {
    position: relative;
    width: 100%;
    min-width: 0;
    flex: 1;
    overflow: hidden;
}

.sheet-img {
    max-width: 100%;
    height: auto;
}

/* x1: 1775, y1: 536, x2: 2227, y2: 827} */
.bbox {
    position: absolute;
}

.bbox:hover {
    background-color: rgba(0, 255, 0, 0.2);
}
